---
import Logo from './logo.astro';
---

<header class="fixed top-0 p-4 w-screen z-50">
  <div class="max-w-7xl mx-auto flex items-center md:justify-center">
    <a href="https://esek.se" class="aspect-square h-14">
      <Logo />
    </a>
  </div>
</header>
